@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
}

code {
  font-family: "Josefin Sans", sans-serif;
}


:focus-visible::after {
  border: none;
}

:focus-visible {
  border: none;
}

.featureProductSlider > .slick-list > .slick-track > .slick-slide {
  padding: 10px;
}

.featureProductSlider > .slick-dots li {
  width: 20px !important;
  height: 5px !important;
  background: #febad7;
}

.featureProductSlider > .slick-dots li.slick-active {
  background: #fb2e86;
}
.featureProductSlider > .slick-dots li button:before {
  color: transparent !important;
}
.featureProductSlider > .slick-dots li.slick-active button:before {
  color: transparent !important;
}

/* Clent say */
.clientTestimonial > .slick-list > .slick-track > .slick-slide {
  padding: 10px;
}

.clientTestimonial > .slick-dots li {
  width: 20px !important;
  height: 5px !important;
  background: #febad7;
}

.clientTestimonial > .slick-dots li.slick-active {
  background: #fb2e86;
}
.clientTestimonial > .slick-dots li button:before {
  color: transparent !important;
}
.clientTestimonial > .slick-dots li.slick-active button:before {
  color: transparent !important;
}

.mainSlider > .slick-slider > .slick-prev {
  font-size: 0;
  line-height: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: #1e29db;
  z-index: 999;
}

.mainSlider > .slick-slider > .slick-next {
  font-size: 0;
  line-height: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
  color: #1e29db;
}

.mainSlider > .slick-slider > .slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: #1e29db !important;
}

.tabsProductdetails > .absolute {
  background-color: transparent !important;
  box-shadow: none;
  text-decoration: underline;
  /* color: #FB2E86 !important; */
}

/* Clent testimonial */
.clientTestimonial > .slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  width: 25px;
  cursor: pointer;
  color: #1e29db !important;
  z-index: 999;
}
.clientTestimonial > .slick-prev:hover,
.slick-prev:focus {
  color: #1e29db !important;
}

.clientTestimonial > .slick-slider > .slick-next:hover,
.slick-next:focus {
  color: #1e29db !important;
}

@media only screen and (max-width: 600px) {
  .slick-next {
    right: -10px !important;
  }
  .slick-prev {
    left: -10px !important;
    z-index: 999;
  }
}
